// breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 1022px;
$breakpoint-xl: 1200px;

:root {

	--font-family: 'Josefin Slab', serif;
	--font-family-mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
  --font-size-small: 12px;

  --primary-color: #c2dbba;
  --header-bg: #c2dbba;

  --home-link-color: #5a7352;
  --home-link-hover-color:  var(--primary-color);

  --button-color: #5f764f;
  --button-alternate-color: #c2dbba;

  --post-link-color: #000;


  --nav-link-hover-bg: #111;
  --text-color-meta: rgba(0,0,0,0.5);

  --label-text: #777;
  --input-focus-border: #83AAAC;

  // CSS Grid Utility
  --grid-gap: 30px;

}
